<template>

  <div class="vz-forgot-pass">
    <form class="vz-forgot-pass-frm" method="post" @submit.prevent="submit">
      <vz-input class="vz-forgot-pass-user" id="user" type="email" label="Qual seu e-mail?" placeholder="usuario@provedor.xyz"
                v-model="form.user" :message="userMessage" @focusout.native="$v.form.user.$touch">
      </vz-input>
      <slot></slot>
      <div class="vz-forgot-pass-bts">
        <vz-button class="vz-primary" type="submit" :disabled="submitDisabled" :loading="loading">Enviar</vz-button>
      </div>
      <p class="vz-forgot-pass-cancel"><a @click.prevent="cancel">Cancelar</a></p>
    </form>
  </div>

</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, email } from 'vuelidate/lib/validators';
import VzBase from '../vz-base.vue';
import VzButton from '../atoms/vz-button.vue';
import VzInput from '../atoms/vz-input.vue';

/**
 * Forgot password form.
 * Inserts slot elements after form fields.
 * @module VzForgotPassForm
 * @param {Boolean} loading Whether the form should show loading animation and block other submit attemps.
 * @param {String} message Error message to show to user.
 * @emits {Event} submit Emitted when data is validated and is ready to be submitted.
 * @emits {Event} cancel Emitted when user clicks on cancel link.
 * @author Lanza
 */
export default {

  name: 'VzForgotPassForm',
  extends: VzBase,
  emits: ['submit', 'cancel'],
  components: {
    VzButton,
    VzInput
  },
  mixins: [validationMixin],

  props: {
    loading: {
      type: Boolean,
      default: false
    },
    message: {
      type: String,
      default: ''
    }
  },

  data: () => ({
    form: {
      user: ''
    },
    externalMessage: ''
  }),

  validations: {
    form: {
      user: {
        required,
        email
      }
    }
  },

  watch: {

    message: function (newVal) {
      this.externalMessage = newVal;
    },

    'form.user': function () {
      this.externalMessage = '';
    }

  },

  computed: {

    userMessage: function () {
      const val = this.$v.form.user;
      if(val.$dirty && val.$invalid) {
        return { type: 'error', text: 'Preencha corretamente seu e-mail.' };
      } else if(this.externalMessage) {
        return { type: 'error', text: this.externalMessage };
      } else {
        return null;
      }
    },

    submitDisabled: function () {
      return this.$v.form.$invalid || !!this.externalMessage;
    }

  },

  methods: {

    submit: function () {
      if(!(this.loading || this.submitDisabled)) {
        this.$emit('submit', this.form.user);
      }
    },

    cancel: function () {
      this.$emit('cancel');
    }

  }

}
</script>

<style>

.vz-forgot-pass-bts .vz-primary {
  width: 100%;
}

.vz-forgot-pass-cancel {
  text-align: center;
  margin: 32px 0 0;
}

</style>
