<template>

  <div class="vz-login">
    <form class="vz-login-frm" method="post" @submit.prevent="submit">
      <vz-input id="login-user" type="text" label="Qual seu usuário?" placeholder="Digite seu nome de usuário"
                v-model="form.user" :message="userMessage" @focusout.native="$v.form.user.$touch">
      </vz-input>
      <vz-input id="login-pass" type="password" label="Qual sua senha?" placeholder="Digite sua senha aqui"
                v-model="form.password" :message="passMessage" @focusout.native="$v.form.password.$touch">
      </vz-input>
      <slot></slot>
      <div class="vz-login-bts">
        <vz-button class="vz-primary" type="submit" :disabled="submitDisabled" :loading="loading">Entrar</vz-button>
      </div>
    </form>
  </div>

</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, email } from 'vuelidate/lib/validators';
import VzBase from '../vz-base.vue';
import VzButton from '../atoms/vz-button.vue';
import VzInput from '../atoms/vz-input.vue';

/**
 * Login form.
 * Shows e-mail and password fields and emits event when user try to login in.
 * Inserts slots elements after form fields.
 * @module VzLoginForm
 * @param {Boolean} loading Whether the form should show loading animation and block other login attemps.
 * @emits {Event} submit
 * @author Lanza
 */
export default {

  name: 'VzLoginForm',
  extends: VzBase,
  emits: ['submit'],
  components: {
    VzInput,
    VzButton
  },
  mixins: [validationMixin],

  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    form: {
      user: '',
      password: ''
    }
  }),

  validations: {
    form: {
      user: {
        required
      },
      password: {
        required
      }
    }
  },

  computed: {

    submitDisabled: function () {
      return this.$v.form.$invalid;
    },

    userMessage: function () {
      const val = this.$v.form.user;
      return val.$dirty && val.$invalid ? { type: 'error', text: 'Você precisa informar seu usuário.' } : null;
    },

    passMessage: function () {
      const val = this.$v.form.password;
      return val.$dirty && val.$invalid ? { type: 'error', text: 'Você deve informar sua senha.' } : null;
    }

  },

  methods: {

    submit: function () {
      if(!(this.loading || this.submitDisabled)) {
        this.$emit('submit', this.form.user, this.form.password);
      }
    }

  }

}
</script>

<style>

.vz-login-bts .vz-primary {
  width: 100%;
}

</style>