<template>

  <div class="vz-reset-pass">
    <form class="vz-reset-pass-form" method="post" @submit.prevent="submit">
      <vz-input id="reset-pass-input" type="password" placeholder="Digite a nova senha aqui" label="Sua nova senha:"
                v-model="form.pass" :message="passMessage" @focusout.native="$v.form.pass.$touch">
      </vz-input>
      <vz-input id="reset-pass-confirm" type="password" placeholder="Repita a nova senha aqui" label="Confirme:"
                v-model="form.confirmPass" :message="confirmPassMessage" @focusout.native="$v.form.confirmPass.$touch">
      </vz-input>
      <slot></slot>
      <div class="vz-reset-pass-bts">
        <vz-button class="vz-primary" type="submit" :disabled="submitDisabled" :loading="loading">Redefinir senha</vz-button>
      </div>
    </form>
  </div>

</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, sameAs } from 'vuelidate/lib/validators';
import VzBase from '../vz-base.vue';
import VzButton from '../atoms/vz-button.vue';
import VzInput from '../atoms/vz-input.vue';

export default {

  name: 'VzResetPasswordForm',
  extends: VzBase,
  emits: ['submit'],
  components: {
    VzInput,
    VzButton
  },
  mixins: [validationMixin],

  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    form: {
      pass: '',
      confirmPass: ''
    }
  }),

  validations: {
    form: {
      pass: {
        required
      },
      confirmPass: {
        equal: sameAs('pass')
      }
    }
  },

  computed: {

    passMessage: function () {
      const val = this.$v.form.pass;
      return val.$dirty && val.$invalid ? { type: 'error', text: 'Você deve informar uma senha.' } : null;
    },

    confirmPassMessage: function () {
      const val = this.$v.form.confirmPass;
      return val.$dirty && val.$invalid ? { type: 'error', text: 'As senhas não são iguais.' } : null;
    },

    submitDisabled: function () {
      return this.$v.form.$invalid;
    }

  },

  methods: {

    submit: function () {
      if(!(this.loading || this.submitDisabled)) {
        this.$emit('submit', this.form.pass);
      }
    }

  }

}
</script>

<style>

.vz-reset-pass {
  width: 100%;
  text-align: left;
}

.vz-reset-pass-bts {
  margin-top: 54px;
}

.vz-reset-pass-bts .vz-primary {
  width: 100%;
}

</style>