<template>

  <div class="vz-tabs">
    <div class="vz-tabs-content">
      <div class="vz-tabs-header">
        <bar :tabs="tabsList" :value="currentIndex" :steps-mode="stepsMode" @change="changeTab"/>
      </div>
      <div class="vz-tabs-body">
        <transition name="vz-t-fade" mode="out-in" appear>
          <keep-alive>
            <component :is="currentComponent" v-on:[listenEvent]="dispatchEvent" />
          </keep-alive>
        </transition>
      </div>
    </div>
  </div>

</template>

<script>
import Base from '../vz-base.vue';
import TabsBar from '../molecules/vz-tabs-bar.vue';

/**
 * Tabs component. Shows/hides components according to user selection in tabs bar.
 * @module VzTabs
 * @param {Array} tabs Tabs information [{ label: String, component: VueComponent, active: Boolean }]
 * @param {Number} activeTabIndex Index of tab that must start active (default = 0)
 * @param {Boolean} stepsMode Whether to activate steps mode. In steps mode, user cannot select a tab that comes after the current one.
 * @author Lanza
 */
export default {

  name: 'VzTabs',
  extends: Base,
  emits: ['change'],
  components: {
    bar: TabsBar
  },

  props: {
    tabs: {
      type: Array,
      default: []   // [{ label: String, component: VueComponent, active: Boolean }]
    },
    activeTabIndex: {
      type: Number,
      default: 0
    },
    stepsMode: {
      type: Boolean,
      default: false
    },
    listenEvent: {
      type: String,
      default: null
    }
  },

  data: () => ({
    currentIndex: -1
  }),

  computed: {

    tabsList: function () {
      return this.tabs.map((tab, index) => ({
        label: tab.label,
        value: index,
        disabled: this.stepsMode ? index > this.currentIndex : false
      }));
    },

    currentComponent: function () {
      const tabs = this.tabs;
      return tabs.length ? tabs[this.currentIndex].component : null
    }

  },

  created: function () {
    this.updateIndex();
  },

  watch: {

    activeTabIndex: function () {
      this.updateIndex();
    }

  },

  methods: {

    updateIndex: function () {
      this.currentIndex = Math.max(0, Math.min(this.activeTabIndex, this.tabs.length - 1));
    },

    changeTab: function (tabIndex) {
      this.currentIndex = tabIndex;
      this.$emit('change', tabIndex);
    },

    dispatchEvent: function (...args) {
      this.$emit(this.listenEvent, ...args);
    }

  }

}
</script>

<style>

.vz-tabs,
.vz-tabs-content,
.vz-tabs-header,
.vz-tabs-body
{
  width: 100%;
}

.vz-tabs-body {
  background-color: rgba(255,255,255,0.12);
  border-top: 1px solid var(--primary-color);
}


</style>