<script>
import Vnodes from '../../libs/vnodes';
import CarouselDirective from '../../directives/v-carousel';
import VzBase from '../vz-base.vue';

export default {

  name: 'VzCarousel',
  extends: VzBase,
  emits: ['reached-end'],

  data: () => ({
    containerSize: 0,
    slotsSize: 0,
    pageSize: 0,
    moving: false,
    moved: false,
    position: {
      move: 0,
      stop: 0
    },
    order: ['o','a','b']
  }),

  computed: {

    translate: function () {
      const pos = this.moving ? this.position.move : this.position.stop;
      return 'translate(' + pos + 'px, 0)';
    },

    orderClass: function () {
      return 'vz-order-' + this.order.join('');
    }

  },

  methods: {

    renderPages: function (h) {
      const slots = this.$slots.default;
      const containerSize = this.containerSize;
      const slotsSize = this.slotsSize;
      const page = [...slots];
      let a = 0;
      let pageSize = slotsSize;
      while(pageSize > 0 && pageSize <= containerSize) {
        let clones = Vnodes.cloneNodes(h, slots, 'p-' + a);
        page.push(...clones);
        a++;
        pageSize += slotsSize;
      }
      this.pageSize = pageSize;
      const divO = h('div', { class: 'vz-carousel-track-page vz-carousel-track-page-original', on: { transitionend: this.stopPropagation } }, page);
      const divA = h('div', { class: 'vz-carousel-track-page vz-carousel-track-page-copy-a', on: { transitionend: this.stopPropagation } }, Vnodes.cloneNodes(h, page, 'cp-a'));
      const divB = h('div', { class: 'vz-carousel-track-page vz-carousel-track-page-copy-b', on: { transitionend: this.stopPropagation } }, Vnodes.cloneNodes(h, page, 'cp-b'));
      return [divO, divA, divB];
    },

    updateSizes: function (containerSize, pageSize) {
      this.containerSize = containerSize;
      this.slotsSize = pageSize;
    },

    updatePosition: function (positionForTransition, positionForEnd, isPrevPage) {
      this.moving = true;
      this.position.move = positionForTransition;
      this.position.stop = positionForEnd;

    },

    cycleOrder: function (left) {
      if(left) {
        this.order.unshift(this.order.pop());
      } else {
        this.order.push(this.order.shift());
      }
    },

    stopMoving: function () {
      this.moving = false;
      this.moved = true;
      if(this.position.stop > this.position.move) {
        this.cycleOrder(false);
      } else if(this.position.stop < this.position.move) {
        this.cycleOrder(true);
      }
    },

    stopPropagation: function (evt) {
      evt.stopPropagation();
    },

    dispatchSlideEnd: function () {
      this.$emit('reached-end');
    }

  },

  directives: {
    carousel: CarouselDirective
  },

  render: function (h) {
    return h('div',
        { class: 'vz-carousel', directives: [{ name: 'carousel', value: { resize: this.updateSizes, position: this.updatePosition, onEnd: this.dispatchSlideEnd } }] },
        [
          h('div',
              {
                class: [
                  'vz-carousel-track',
                  this.orderClass,
                  { 'vz-transition-on': this.moving }
                ],
                style: {
                  transform: this.translate
                },
                on: {
                  transitionend: this.stopMoving
                }
              },
              this.renderPages(h)
          ),
          h('div',
              {
                class: [
                  'vz-carousel-prev',
                  { 'vz-disabled': !this.moved }
                ]
              },
              [ h('i', { class: 'ic-chevron-left vz-carousel-prev-ic' }) ]
          ),
          h('div', { class: 'vz-carousel-next' }, [ h('i', { class: 'ic-chevron-right vz-carousel-next-ic' }) ])
        ]
    );
  }

}
</script>

<style>

.vz-carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.vz-carousel-track,
.vz-carousel-track-page
{
  position: relative;
  display: inline-flex;
}

.vz-carousel-track.vz-transition-on {
  transition: transform 0.4s;
}

.vz-order-boa .vz-carousel-track-page-copy-b {
  order: -1;
}

.vz-order-abo .vz-carousel-track-page-original {
  order: 3;
}

.vz-carousel-prev,
.vz-carousel-next
{
  position: absolute;
  top: 0;
  height: 100%;
  width: 20px;
  opacity: 1;
  cursor: pointer;
  overflow: hidden;
  transition-property: opacity, height;
  transition-duration: 0.3s, 0s;
  transition-delay: 0s;
}

.vz-carousel-prev.vz-disabled,
.vz-carousel-next.vz-disabled
{
  transition-delay: 0s, 0.3s;
  height: 0;
  opacity: 0;
}

.vz-carousel-prev {
  left: 0;
}

.vz-carousel-next {
  right: 0;
}

.vz-carousel-prev-ic,
.vz-carousel-next-ic
{
  font-size: 28px;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.vz-carousel-prev:hover .vz-carousel-prev-ic,
.vz-carousel-next:hover .vz-carousel-next-ic
{
  color: var(--primary-color-over);
}

.vz-carousel-prev:active .vz-carousel-prev-ic,
.vz-carousel-next:active .vz-carousel-next-ic
{
  color: var(--primary-color-active);
}

.vz-carousel-prev-ic {
  left: 0;
}

.vz-carousel-next-ic {
  right: 0;
}
</style>