<template>

  <div class="vz-radio">
    <div class="vz-radio-content">
      <span class="vz-radio-item" v-for="item in options">
        <label @click="dispatchEvent">
          <input type="radio" :name="name" :value="item.value" v-model="inputValue"/>
          <span>{{ item.label }}</span>
        </label>
      </span>
    </div>
  </div>

</template>

<script>
import VzBase from '../vz-base.vue';

/**
 * Radio button group.
 * @module VzRadio
 * @param {String} name Radio group name
 * @param {Array} options Radio options
 * @emits {Event} input
 * @author Lanza
 */
export default {

  name: 'VzRadio',
  extends: VzBase,
  emits: ['input'],

  props: {
    name: {
      type: String,
      default: '',
      required: true
    },
    options: {
      type: Array,
      default: []         // [{ label: String, value: String }]
    }
  },

  data: () => ({
    inputValue: ''
  }),

  watch: {

    value: function (newValue) {
      this.inputValue = newValue;
    }

  },

  methods: {

    dispatchEvent: function () {
      this.$emit('input', this.inputValue);
    }

  }

}
</script>

<style>

</style>