<template>

  <div class="vz-slider" v-scrollanza="dispatchSlideEnd">
    <div class="vz-slider-track">
      <slot></slot>
    </div>
    <div class="vz-slider-prev">
      <i class="ic-chevron-left vz-slider-prev-ic"></i>
    </div>
    <div class="vz-slider-next">
      <i class="ic-chevron-right vz-slider-next-ic"></i>
    </div>
  </div>

</template>

<script>
import { Scrollanza } from '../../libs/scrollanza';
import VzBase from '../vz-base.vue';

export default {

  name: 'VzSlider',
  extends: VzBase,
  emits: ['reached-end'],

  methods: {

    dispatchSlideEnd: function () {
      this.$emit('reached-end');
    }

  },

  directives: {

    scrollanza: {

      inserted: function (el, binding) {
        const doc = document;
        const viewport = window;
        const sclanza = new Scrollanza(el.querySelector('.vz-slider-track'), el, {
          navigation: {
            elementNext: el.querySelector('.vz-slider-next'),
            elementPrevious: el.querySelector('.vz-slider-prev'),
            enabledClass: 'vz-enabled'
          }
        }, doc, viewport);
        sclanza.addEventListener('reachedEnd', binding.value);
        el._scrollanza = sclanza;
      },

      componentUpdated: function (el) {
        const scrollanza = el._scrollanza;
        if(scrollanza) {
          scrollanza.resize();
        }
      },

      unbind: function (el) {
        const scrollanza = el._scrollanza;
        if(scrollanza) {
          scrollanza.destroy();
        }
      }

    }

  }

}
</script>

<style>

.vz-slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.vz-slider-track {
  position: relative;
  display: inline-flex;
  transition: transform 0.4s;
}

.vz-slider-prev,
.vz-slider-next
{
  position: absolute;
  top: 0;
  height: 0;
  width: 20px;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
  transition-property: opacity, height;
  transition-duration: 0.3s, 0s;
  transition-delay: 0s, 0.3s;
}

.vz-slider-prev.vz-enabled,
.vz-slider-next.vz-enabled
{
  transition-delay: 0s, 0s;
  height: 100%;
  opacity: 1;
}

.vz-slider-prev {
  left: 0;
}

.vz-slider-next {
  right: 0;
}

.vz-slider-prev-ic,
.vz-slider-next-ic
{
  font-size: 28px;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.vz-slider-prev:hover .vz-slider-prev-ic,
.vz-slider-next:hover .vz-slider-next-ic
{
  color: var(--primary-color-over);
}

.vz-slider-prev:active .vz-slider-prev-ic,
.vz-slider-next:active .vz-slider-next-ic
{
  color: var(--primary-color-active);
}

.vz-slider-prev-ic {
  left: 0;
}

.vz-slider-next-ic {
  right: 0;
}

</style>