<template>

  <div class="vz-checkbox">
    <div class="vz-checkbox-content">
      <label class="vz-checkbox-label">
        <input class="vz-checkbox-input" type="checkbox" :checked="checkedValue" :disabled="disabled" @click="dispatchChange"/>
        <span class="vz-checkbox-vis"></span>
        <span class="vz-checkbox-label-text">{{ label }}</span>
      </label>
      <transition>
        <vz-field-message v-if="message.text" :type="message.type">{{ message.text }}</vz-field-message>
      </transition>
    </div>
  </div>

</template>

<script>
import VzBase from '../vz-base.vue';
import VzFieldMessage from './vz-field-message';

/**
 * Checkbox with support to error message.
 * @module VzCheckbox
 * @param {String} label Text to show as label.
 * @param {Boolean} value Whether checkbox is checked.
 * @param {Boolean} disabled Whether field is disabled or not.
 * @param {{ type: String, text: String }} message  Message to show along with the field (like validation error).
 * @emits {Event} input
 * @author Lanza
 */
export default {

  name: 'VzCheckbox',
  extends: VzBase,
  emits: ['input'],
  components: {
    VzFieldMessage
  },

  props: {
    label: {
      type: String,
      default: ''
    },
    value: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    message: {
      type: Object,
      default: () => ({
        text: '',
        type: 'info'      // info, error
      }),
      validator: value => value.type && ['info', 'error'].indexOf(value.type) !== -1
    }
  },

  data: () => ({
    checkedValue: false
  }),

  watch: {

    value: function (newValue) {
      this.checkedValue = newValue;
    }

  },

  methods: {

    dispatchChange: function () {
      this.$emit('input', !this.checkedValue);
    }

  }

}
</script>

<style>

.vz-checkbox {
  margin: 0 0 32px;
  font-size: 0.93em;
}

.vz-checkbox-label {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 0 0 0 54px;
  min-height: 21px;
}

.vz-checkbox-input {
  position: absolute;
  opacity: 0;
  left: 0;
}

.vz-checkbox-vis {
  display: block;
  width: 46px;
  height: 21px;
  background-color: #303030;
  background-image: linear-gradient(to bottom, #202020 0px, #303030 6px, #303030);
  border: 1px solid var(--primary-color);
  border-radius: 46px;
  transition: background-color 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}

.vz-checkbox-vis:before {
  display: block;
  content: "";
  background-color: var(--primary-color);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 6px;
  margin: -5px 0 0;
  transition-property: background-color, left;
  transition-duration: 0.3s;
}

.vz-checkbox-input:checked + .vz-checkbox-vis {
  background-color: var(--primary-color);
  background-image: linear-gradient(to bottom, rgba(48,48,48,0.3) 0px, rgba(32,32,32,0.1) 6px, rgba(32,32,32,0));
}

.vz-checkbox-input:checked + .vz-checkbox-vis:before {
  background-color: var(--primary-color-contrast);
  left: 28px;
}

</style>