<template>

  <div class="vz-input" :class="{ 'vz-field-filled': inputValue.length > 0 }">
    <div class="vz-input-content">
      <label :for="'#' + id">{{ label }}</label>
      <input-facade class="vz-input-field vz-input-field-masked"
                    v-if="mask"
                    v-model="inputValue"
                    :mask="mask"
                    :short="true"
                    :id="id"
                    :type="inputType"
                    :placeholder="placeholder"
                    :disabled="disabled ? 'disabled' : null"
                    @input="dispatchInput"/>
      <input class="vz-input-field"
             v-else
             v-model="inputValue"
             :id="id"
             :type="inputType"
             :disabled="disabled ? 'disabled' : null"
             :placeholder="placeholder"
             @input="dispatchInput"/>
      <span class="vz-input-view-password" v-if="type === 'password'" @click="togglePasswordMode">
        <template v-if="inputType === 'text'">
          <span class="vz-input-view-password-label">Esconder senha</span>
          <span class="vz-input-view-password-icon ic-eye-off"></span>
        </template>
        <template v-else>
          <span class="vz-input-view-password-label">Ver senha</span>
          <span class="vz-input-view-password-icon ic-eye"></span>
        </template>
      </span>
      <transition>
        <span class="vz-input-loading" v-show="loading"><i class="ic-loader vz-spin vz-input-loading-ic"></i></span>
      </transition>
      <transition>
        <vz-field-message v-if="inputMessage.text" :type="inputMessage.type">{{ inputMessage.text }}</vz-field-message>
      </transition>
    </div>
  </div>

</template>

<script>
import { InputFacade } from 'vue-input-facade';
import Base from '../vz-base.vue';
import VzFieldMessage from './vz-field-message.vue';

/**
 * Input form field with support to masks and field related messages (like validation error).
 * @module VzInput
 * @param {String} id Control id.
 * @param {String} label Text to show as label.
 * @param {String} placeholder Placeholder text.
 * @param {String} view-password-label If it's a password field, the text to show in button that shows the password.
 * @param {String} type Field type.
 * @param {Boolean} disabled Whether field is disabled or not.
 * @param {String|Array} mask Any mask value supported by [Maska](https://github.com/beholdr/maska).
 * @param {{text: String, type: String}} message Message to show along with the field (like validation error).
 * @param {Boolean} loading Whether to show loading animation.
 * @emits {Event} input
 * @author Lanza
 */
export default {

  name: 'VzInput',
  extends: Base,
  emits: ['input'],
  components: {
    inputFacade: InputFacade,
    vzFieldMessage: VzFieldMessage
  },

  props: {
    id: {
      type: String,
      default: '',
      required: true
    },
    label: {
      type: String,
      default: ''
    },
    value: {
      type: [String, Number, Boolean],
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text',    // Any html-accepted value
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
    mask: {
      type: [String, Array],
      default: ''
    },
    loading: {
      type: Boolean,
      default: false
    },
    message: {
      type: Object,
      default: () => ({
        text: '',
        type: 'info'      // info, error
      }),
      validator: value => value.type && ['info', 'error'].indexOf(value.type) !== -1
    }
  },

  data: () => ({
    inputValue: '',
    inputValueRaw: '',
    mode: 'default'
  }),

  computed: {

    inputType: function () {
      if(this.type === 'password') {
        return this.mode === 'view-password' ? 'text' : 'password';
      } else {
        return this.type;
      }
    },

    inputMessage: function () {
      return this.message && this.message.text ? this.message : {};
    }

  },

  watch: {

    value: function (newValue) {
      this.inputValue = newValue;
    }

  },

  created: function () {
    this.inputValue = this.value;
  },

  methods: {

    dispatchInput: function () {
      this.$emit('input', this.inputValue);
    },

    dispatchInputRaw: function (evt) {
      this.$emit('input', evt.target.dataset.maskRawValue);
    },

    updateInputRaw: function (evt) {
      this.inputValueRaw = evt.target.dataset.maskRawValue;
    },

    togglePasswordMode: function () {
      this.mode = this.mode === 'default' ? 'view-password' : 'default';
    }

  }

}
</script>

<style>

.vz-input {
  width: 100%;
  margin: 0 0 32px;
  position: relative;
}

.vz-input-field {
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-color);
  border-radius: 4px;
  padding: 14px 32px;
  font-family: inherit;
  font-size: 1em;
  line-height: 1em;
  background-color: #303030;
  background-image: linear-gradient(to bottom, #202020 0px, #303030 6px, #303030);
  outline: none;
  color: rgba(255,255,255,0.5);
  width: 100%;
  transition-property: border-color, color, box-shadow;
  transition-duration: 0.3s;
  box-shadow: -6px 1px 48px rgba(0,0,0,1);
}

.vz-input-field:hover {
  border-color: var(--primary-color-over);
}

.vz-input-field:active,
.vz-input-field:focus
{
  border-color: var(--primary-color-active);
  color: #ffffff;
  box-shadow: -6px 1px 32px var(--primary-color-active);
}

.vz-input-view-password {
  position: absolute;
  right: 32px;
  top: -1px;
  color: #C4C0C1;
  cursor: pointer;
  display: block;
  line-height: 1em;
  font-size: 13px;
}

.vz-input-view-password-icon {
  font-size: 18px;
  vertical-align: text-bottom;
  display: inline-block;
  margin-left: 8px;
}

.vz-input-loading {
  display: block;
  line-height: 1em;
  padding: 14px 0;
  color: #ffffff;
  position: absolute;
  right: 24px;
  top: 1em;
  margin-top: 8px;
}

.vz-input-loading.v-enter-active,
.vz-input-loading.v-leave-active
{
  transition: opacity 0.3s;
}

.vz-input-loading.v-enter,
.vz-input-loading.v-enter-from,
.vz-input-loading.v-leave-to
{
  opacity: 0;
}

.vz-input-loading.v-enter-to,
.vz-input-loading.v-leave-from,
.vz-input-loading.v-leave
{
  opacity: 1;
}

.vz-input-loading:before {
  content: '   ';
  display: inline-block;
}

.vz-input-loading-ic {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -9px;
  font-size: 18px;
}

</style>